body{
text-align: center;
}

h1{
    color: #6C3365;
    font-weight: bold;
}

canvas{
border: 2px soild black;
background-image: url(images/grasses68.gif);
}

#talkBox{
    height: 20px;
    color: #6C3365;
    font-size: 26px;
    font-weight: bold;
}